body{
    background-image: radial-gradient(rgb(216, 216, 216), rgb(223, 210, 210), rgb(165, 140, 140));

}

#jumbo{
     color:white;
     background-color: black;
     background-image:url("https://66.media.tumblr.com/086857f81b2729e9fb72e67d99a77dae/tumblr_pmpo3sfGmL1runoqyo6_r1_500.gifv");
     background-repeat: no-repeat;
     background-size: cover;
    }

#girl{
    color:rgb(241, 197, 204);
    font-family: 'Satisfy',cursive;
}

#intro{
    font-family: 'Merienda', cursive;
} 
